/myapp2_middleware/node_modules
/myapp3_frontendData_to_FireBaseDB/node_modules
/my_app4_messages_event_with_db/node_modules
/myapp/node_modules
/test/node_modules
/*.m4a
/final_test/node_modules
/final_comment_proj_ver1_by_clean_all/node_modules
/final_comment_proj_ver1_by_timing_GOODWAY/node_modules
